@import url(base.css);

footer{
	position: absolute;
	top:-200px;
	left:.5%;
	float:left;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: .9em;
	z-index: 3;
}


footer a{
	color:white;
}

footer a:hover{
	color:#333;
  	border-color: #333;
}


a{
	color: #5f8dbf;
}

 a:hover{
	color:#657488;
	border-color: #657488;
}


.extra1{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url(hack1.jpg) no-repeat top center fixed;
	background-size:cover;
	z-index:-1;
	filter: brightness(60%);
    height: 100%
    width: 100%;
    color: white;
 
}


.page-wrapper{
	z-index: 2;	
}

h1,
h2,
h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
    width: 100%;
}

h1,
h2{
	color:white;
  
}

h1{
	font-size: 6em;
	margin: 0 auto;
	margin-top: 35vh;

}

h3{
	color:#657488;
	font-size: 2.7em;
}


header{
	height:65vh;

}

.summary,
.preamble,
.main{
	width: 65%;
	margin: 0 auto;
	float:left;
}

.summary{
	font-size: 1.4em;
}

.main{
	padding-bottom: 50px;

}

.sidebar{
	position: absolute;
	float:right;
	width:29%;
	right: 0;
	margin-top: 1.2em;
	background-color: transparent;
	border-left: solid 2px #657488;
	padding-left: 5%;
}

.sidebar h3{
	font-size: 1.2em;
	text-transform: none;
	margin-top: 0;
	color:#333;
}

.designer-name{
	color:#333;
}

ul{
	list-style-type: square;
}